node_modules/
java/WoolCore/.idea/
*.class
*.class
*.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/Application.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/Application.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/AuthDetails.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/AuthQuery.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/AuthToken.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/Configuration.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/AuthController.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/DataController$1.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/DataController.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/DialogueController$1.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/DialogueController$2.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/DialogueController.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/ErrorController.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/model/LoginParams$TokenExpirationDeserializer.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/model/LoginParams$TokenExpirationSerializer.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/model/LoginParams.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/model/LoginResult.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/SwaggerController$VersionPathProvider.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/controller/SwaggerController.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/CorsFilter.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/DefaultServiceManagerConfig.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/dialogue/ConversationalAgent.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/dialogue/ServiceManager.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/dialogue/ServiceManagerConfig.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/dialogue/UserService.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/BadRequestException.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/DatabaseException.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/ErrorCode.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/ForbiddenException.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/HttpError.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/HttpException.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/HttpFieldError.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/InternalServerErrorException.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/NotFoundException.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/NotImplementedException.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/exception/UnauthorizedException.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/model/VariableStoreIO$1.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/model/VariableStoreIO.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/ProtocolVersion.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/QueryRunner.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/ServiceContext.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/UserCredentials.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/UserFile$1.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/UserFile$XMLHandler.class
java/WoolWebService/build/classes/java/main/eu/woolplatform/webservice/UserFile.class
